<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>


    <link rel="stylesheet" type="text/css" href="../static/css/loginPage.css">
</head>
<body>

    <div class="backgroundImageLogin"></div>


    <section id="loginForm" class="login-form-holder">
        <h2>Welcome</h2>
        <input id="emailLogin" type="email" placeholder="Email">
        <input id="password" type="password" placeholder="Password">
        <button class="login-button" id="loginButton">Login</button>
        <button class="signup-button" id="openSignup">Sign Up Here</button>
    </section>

    <section id="signupForm" class="signup-form-holder">
        <h2>Join Us</h2>
        <input id="firstName" type="text" placeholder="First Name">
        <input id="surname" type="text" placeholder="Last Name">
        <input id="emailSignup" type="email" placeholder="Email">
        <input id="passwordSignup" type="password" placeholder="Password">
        <input id="passwordConfirm" type="password" placeholder="Confirm Password">
        <button class="signup-button" id="signupButton">Sign Up</button>
        <button class="login-button" id="openLogin">Login Here</button>
    </section>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/js/login.js"></script>
</html>