<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=4.0" />
	<title>Line Chart</title>
</head>

<body>
	<div style="width: 75%">
        <canvas id="myChart"></canvas>
    </div>

    <script src="{{url_for('static',filename='Chart.bundle.min.js')}}"></script>

	<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
            labels: {{x}},
			datasets: [{
				label: 'Total counts for each hour',
				data: {{y}},
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			title:{
				display: true,
				fontSize: '28',
				text: 'Total counts in 24H',

			},
			legend:{
			textDirection: 'horizon',
			display: true,
			labels:{
			boxWidth: 80,
			fontSize: 20,
				},
			position: 'right',
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						fontSize: '20',
					}

				}],
				xAxes: [{
					ticks: {
						beginAtZero: true,
						fontSize: '20',
					}
				}]
			}
		}
	});
	
    window.myArea = new Chart(ctx,myChart);
	</script>
</body>

</html>
